In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import BernoulliNB
import nltk
import regex as re
from nltk.corpus import stopwords
from sklearn.linear_model import LogisticRegression
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import RegexpTokenizer
%matplotlib inline

In [42]:
call_df = pd.read_csv('../data_csv/call.csv')

In [43]:
call_df.dtypes

all_awardings              object
allow_live_comments        object
author                     object
author_flair_css_class     object
author_flair_richtext      object
                           ...
thumbnail_width           float64
rte_mode                   object
link_flair_template_id    float64
previous_visits            object
author_id                  object
Length: 82, dtype: object

In [44]:
retail_df = pd.read_csv('../data_csv/retail.csv')

In [45]:
retail_df["subreddit"].head()

0    TalesFromRetail
1    TalesFromRetail
2    TalesFromRetail
3    TalesFromRetail
4    TalesFromRetail
Name: subreddit, dtype: object

In [46]:
df = pd.concat([call_df, retail_df], join='inner', ignore_index=True)

In [47]:
df.shape

(8000, 77)

In [48]:
df["title"].isnull().sum()

0

In [21]:
#df.to_csv('joined_df.csv', index=False)

In [49]:
df = df[['title', 'subreddit']]

In [50]:
df.head()

                                          title             subreddit
0        What do you guys enjoy about your job?  talesfromcallcenters
1                 Why the rich stay rich, maybe  talesfromcallcenters
2                            Speechless and sad  talesfromcallcenters
3          Misogynistic Guy Demands A Pie Chart  talesfromcallcenters
4  Customer angry refunds are not instantaneous  talesfromcallcenters

In [51]:
df.subreddit = df.subreddit.map(lambda sub: 0 if sub == 'TalesFromRetail' else 1)

In [52]:
df.head()

                                          title  subreddit
0        What do you guys enjoy about your job?          1
1                 Why the rich stay rich, maybe          1
2                            Speechless and sad          1
3          Misogynistic Guy Demands A Pie Chart          1
4  Customer angry refunds are not instantaneous          1

In [53]:
df.tail()

                                                  title  subreddit
7995  How to explain without making the customer sou...          0
7996                    Oh What a Night! (October 2019)          0
7997                  I am a barista sir, not a psychic          0
7998                             A common dumb question          0
7999                 I Know You Just Told Me, But When?          0

In [54]:
df['subreddit'].value_counts()

1    4000
0    4000
Name: subreddit, dtype: int64

In [55]:
df.dtypes

title        object
subreddit     int64
dtype: object

In [56]:
df.to_csv('../data_csv/eda_df.csv', index=False)